<!DOCTYPE html><html lang="en">

<head>

    <meta charset="utf-8">

    <title>PathSoft</title>

    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <script src="https://kit.fontawesome.com/6d2500d87e.js" crossorigin="anonymous"></script>
    <link rel="icon" href="static/img/favicon/favicon.ico" type="image/x-icon"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap-grid.css">
	<link rel="stylesheet" href="./static/css/style.css">
    <link rel="preload" href="static/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="static/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-700.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="static/fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="static/fonts/montserrat-v25-latin/montserrat-v25-latin-600.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="preload" href="static/fonts/material-icons/material-icons.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="static/fonts/material-icons/material-icons-outlined.woff2" as="font" type="font/woff2" crossorigin>

</head>

<body>

	<main class="main">
		
		<div class="main-inner">

			<!-- Begin mobile main menu -->
<nav class="mmm">
    <div class="mmm-content">
        <ul class="mmm-list">
            <li>
            <a href="index.html" data-title="Home">
                Home
            </a>
        </li>
        <li>
            <a href="about-us.html" data-title="Laptop">
                Laptop
            </a>
        </li>
        <li>
            <a href="services.html" data-title="Mobiles">
                Mobiles
            </a>
        </li>
        <li>
            <a href="typography.html" data-title="Television">
               Television
            </a>
        </li>
        <li>
            <a href="tabs-and-accordions.html" data-title="Peripherals">
               Peripherals
            </a>
        </li>
        <li>
            <a href="news.html" data-title="Other">
                Other
            </a>
        </li>
        </ul>
    </div>
</nav><!-- End mobile main menu -->

<header class="header header-minimal">
    <nav class="header-fixed">
        <div class="container">
            <div class="row flex-nowrap align-items-center justify-content-between">
                <div class="col-auto header-fixed-col logo-wrapper">
                    <a href="index.html" class="logo" title="PathSoft">
                        <img src="static/img/logo.svg" width="115" height="36" alt="PathSoft">
                    </a>
                </div>
                <div class="col-auto col-xl col-static header-fixed-col d-none d-xl-block">
                    <div class="row flex-nowrap align-items-center justify-content-end">
                        <div class="col header-fixed-col d-none d-xl-block col-static">
                            <!-- Begin main menu -->
<nav class="main-mnu">
    <ul class="main-mnu-list">
        <li>
            <a href="index.html" data-title="Home">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="about-us.html" data-title="Laptop">
                <span>Laptop</span>
            </a>
        </li>
        <li>
            <a href="services.html" data-title="Mobiles">
                <span>Mobiles</span>
            </a>
        </li>
        <li>
            <a href="typography.html" data-title="Television">
                <span>Television</span>
            </a>
        </li>
        <li>
            <a href="tabs-and-accordions.html" data-title="Peripherals">
                <span>Peripherals</span>
            </a>
        </li>
        <li>
            <a href="news.html" data-title="Other">
                <span>Other</span>
            </a>
        </li>
    </ul>
</nav><!-- End main menu -->
                        </div>
                    </div>
                </div>
                <div class="col-auto d-block d-xl-none header-fixed-col">
                    <div class="main-mnu-btn">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                        <span class="bar bar-4"></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

			<div class="section-bgc intro">
				<div class="intro-item intro-item-type-1" style="background-image: url('static/img/intro-img1.jpg');">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="intro-content" style="--margin-left: 4rem;">
									<!-- <div class="section-heading shm-none">
										<div class="section-subheading">Free template</div>
										<h1>#1 The Fastest HTML5 Template</h1>
										<p class="section-desc">The free template is the simplified version of the premium template, but you can use it for your own purposes. The premium template includes a lot of functionality.</p>
									</div>
									<div class="btn-group intro-btns">
										<a href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html?utm_campaign=blog_site_KovalWeb&utm_source=KovalWeb&utm_medium=referral&aff=KovalWeb" class="btn btn-border btn-with-icon btn-small ripple">
											<span>HTML5</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="static/img/sprite.svg#arrow-right"></use></svg>
										</a>
										<a href="https://www.templatemonster.com/wordpress-themes/pathsoft-it-solutions-for-your-business-services-wordpress-theme-99496.html?utm_campaign=blog_site_KovalWeb&utm_source=KovalWeb&utm_medium=referral&aff=KovalWeb" class="btn btn-border btn-with-icon btn-small ripple">
											<span>WordPress</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="static/img/sprite.svg#arrow-right"></use></svg>
										</a>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			

			<section class="section section-bgc">
				<div class="container">
					<div class="row items">
						<header class="col-12">
							<div class="section-heading heading-center">
							
								<h2>All Item</h2>
							</div> 
						</header>
                        {% for item in current_products  %}
						<div class="col-lg-3 col-md-4 col-12 item">
							<article class="news-item item-style" style="background-color: white; height: 100%">
								<a href="/detail/{{ item['u_id'] }}" title="{{ item['name'] }}" class="news-item-img el">
									<img data-src="../static/img/image/{{ item['u_id'] }}.jpg" class="lazy" style="width: 90%; height: auto; align-items: center; margin: 10px" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date" style="font-size: large;"><sup>$</sup>{{ item['price'] }}</div>
									<h6>
										<a href="/detail/{{ item['u_id'] }}" title="{{ item['name'] }}">{{ item['name'] }}</a>
									</h6>
									<div class="news-item-desc">
										<!-- <p>Asynchronous functions are a good and bad thing in JavaScript.</p> -->
									</div>
								</div>
							</article>
						</div>
                        {% endfor %}
                        
                        <ul class="pagination justify-content-center">
                            {% if page  != 1 %}
                                
                                <li class="page-item"><a class="page-link" href="?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page-1 }}">Prev</a></li>
                            {% endif %}
                            {% if page < total_pages - 7 %}
                                {% for p in range(page, page + 7) %}
                                    {% if page < total_pages - 7 %}

                                        {% if p == page %}
                                            <li class="page-item active"><a class="page-link">{{ p }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% elif page == total_pages - 7 %}
                                {% for p in range(page-1, page + 7) %}
                                        {% if p == page %}
                                            <li class="page-item active"><a class="page-link">{{ p }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                        {% endif %}
                                    
                                {% endfor %}

                            {% else %}
                                {% for p in range(total_pages - 7, total_pages) %}
        
                                            {% if p == page %}
                                                <li class="page-item active"><a class="page-link">{{ p }}</a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                            {% endif %}
                                    {% endfor %}
                            {% endif %}
                                <li class="page-item"><a class="page-link">...</a></li>
                                
                            {% if page  < total_pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ total_pages }}">{{ total_pages }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page+1 }}">Next</a></li>
                                <li class="page-item"><a class="page-link" href="?page=total_pages"><i class="fa-solid fa-angles-right"></i></a></li>
                            {% endif %}
                            
                        </ul>
                
						
						<footer class="section-footer col-12 item section-footer-animate">
							<div class="btn-group align-items-center justify-content-center">
								
							</div>
						</footer>
					</div>
				</div>
			</section>

		</div>

		

<!-- Begin footer -->
<footer class="footer footer-minimal">
    <div class="footer-main">
        <div class="container">
            <div class="row items align-items-center">
                <div class="col-lg-3 col-md-4 col-12 item">
                    <div class="widget-brand-info">
                        <div class="widget-brand-info-main">
                            <a href="index.html" class="logo" title="PathSoft">
                                <img data-src="static/img/logo-white.svg" class="lazy" width="133" height="36" src="static/img/logo-white.svg" alt="PathSoft" data-loaded="true" style="opacity: 1;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md item">
                    <div class="footer-item">
                        <nav class="footer-nav">
                            
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between items">
                <div class="col-md-auto col-12 item">
                    <nav class="footer-links">
                        <ul>
                            <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-auto col-12 item">
                    <div class="copyright">© 2022 psFree. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer -->

	</main><!-- End main -->

	<script src="static/libs/jquery/jquery.min.js"></script>
<script src="static/libs/lozad/lozad.min.js"></script>
<script src="static/libs/device/device.js"></script>
<script src="static/libs/spincrement/jquery.spincrement.min.js"></script>
<script src="static/libs/pristine/pristine.min.js"></script>
<script src="static/js/custom.js"></script>
<script src="static/js/forms.js"></script>
	
</body></html>