<html>

<head>

    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
        
    <link rel="icon" href="static/img/favicon/favicon.ico" type="image/x-icon"> 

    <link rel="stylesheet" href="static/css/bootstrap-grid.css">
	<link rel="stylesheet" href="static/css/style.css">
    <link rel="preload" href="static/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="static/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-700.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="static/fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="static/fonts/montserrat-v25-latin/montserrat-v25-latin-600.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="preload" href="static/fonts/material-icons/material-icons.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="static/fonts/material-icons/material-icons-outlined.woff2" as="font" type="font/woff2" crossorigin>
</head>

<div class="row items">
    <header class="col-12">
        <div class="section-heading heading-center">
            <div class="section-subheading">More info about</div>
            <h2>Latest News</h2>
        </div> 
    </header>
    <div class="col-lg-4 col-md-6 col-12 item">
        <article class="news-item item-style">
            <a href="#" class="news-item-img el">
                <img data-src="assets/img/news-img-1.jpg" class="lazy" src="static/img/news-img-1.jpg" alt="" data-loaded="true">
            </a>
            <div class="news-item-info">
                <div class="news-item-date">07/01/2021</div>
                <h3 class="news-item-heading item-heading">
                    <a href="#" title="Benefits Of Async/Await">Benefits Of Async/Await</a>
                </h3>
                <div class="news-item-desc">
                    <p>Asynchronous functions are a good and bad thing in JavaScript.</p>
                </div>
            </div>
        </article>
    </div>
    <div class="col-lg-4 col-md-6 col-12 item">
        <article class="news-item item-style">
            <a href="news-post.html" class="news-item-img el">
                <img data-src="assets/img/news-img-2.jpg" class="lazy" src="static/img/news-img-2.jpg" alt="" data-loaded="true">
            </a>
            <div class="news-item-info">
                <div class="news-item-date">05/01/2021</div>
                <h3 class="news-item-heading item-heading">
                    <a href="news-post.html" title="Key Considerations Of IPaaS">Key Considerations Of IPaaS</a>
                </h3>
                <div class="news-item-desc">
                    <p>Digital transformation requires cloud appropriate adoption</p>
                </div>
            </div>
        </article>
    </div>
    <div class="col-lg-4 col-md-6 col-12 item">
        <article class="news-item item-style">
            <a href="news-post.html" class="news-item-img el">
                <img data-src="assets/img/news-img-3.jpg" class="lazy" src="static/img/news-img-3.jpg" alt="" data-loaded="true">
            </a>
            <div class="news-item-info">
                <div class="news-item-date">01/01/2021</div>
                <h3 class="news-item-heading item-heading">
                    <a href="news-post.html" title="Hibernate Query Language">Hibernate Query Language</a>
                </h3>
                <div class="news-item-desc">
                    <p>In this tutorial, we will discuss the Hibernate Query Language. </p>
                </div>
            </div>
        </article>
    </div>
    <footer class="section-footer col-12 item section-footer-animate">
        <div class="btn-group align-items-center justify-content-center">
            <a href="news.html" class="btn btn-with-icon btn-w240 ripple">
                <span>See All News</span>
                <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
            <span class="el-ripple-circle"></span></a>
        </div>
    </footer>
</div>
</html>

